<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("nav")%>
    <ul>   
        <%users.forEach((all) =>{%>
            <li>
                <%= all.name %> | <a href="/delete/<%= all._id%>">❌</a> | <a href="/update/<%= all._id%>">✏️</a>      
            </li>
        <%})%>
    </ul>
    <!-- <%= users%> -->
</body>
</html>